{% extends 'base.html' %} {% block content %}
<div class="grid grid-cols-3 justify-between">
  <h1 class="col-span-3 text-center text-[100px] font-bold">FILOSOFIA DE VIDA</h1>
    {% for post in posts %}
    <a href={% url 'blog:detail' post.id %} class="mx-10 my-10 bg-black text-[#ffff] rounded-md border-2 drop-shadow-lg">
      <h2 class="py-5 text-center font-bold">{{post.title}}</h2>
      <p class="px-5">{{post.getShortContent}}</p>
    </a>
    {% endfor %}
    
  <div class="col-span-3 self-end justify-self-center"><button><a class="bg-green-500 px-5 py-3 te rounded" href= {% url 'blog:create' %}>Nuevo Post</a></button></div>
</div>

{% endblock content %}